/* CSS reset */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

*:focus {
  outline: none; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

.main {
  max-width: 100rem;
  margin: 0 auto;
  background: linear-gradient(40deg, #8983F7, #A3DAFB 70%);
  color: #fff; }
  .main .header {
    text-align: center;
    padding: 5rem 0; }
  .main .animations {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    background-color: #000; }
    @media (min-width: 56.25em) {
      .main .animations {
        flex-direction: row; } }
    .main .animations--section {
      height: 250px;
      flex: 1 1 20rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      border: 1px solid #fff;
      position: relative; }

.transitionimage--container {
  position: relative;
  width: 100%;
  height: 100%; }

.transitionimage--image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  transition: all .4s ease-out;
  background-image: url("../images/beach.jpg"); }

.transitionimage--content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 1.5rem;
  right: 0;
  color: #000;
  opacity: 0;
  width: 85%;
  transition: all .2s ease; }
  .transitionimage--content p {
    transition: all .5s ease-out;
    transition-delay: .2s;
    font-size: 2rem;
    transform: translateY(3rem); }

.transitionimage {
  cursor: pointer; }
  .transitionimage:hover .transitionimage--content {
    opacity: 1; }
  .transitionimage:hover .transitionimage--image {
    transform: scale(0.9); }

.btn--flex {
  min-height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem; }
  .btn--flex__bttn {
    color: #FF0072;
    text-decoration: none;
    transition: 0.3s ease all;
    font-size: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    width: 90%;
    font-weight: bold;
    padding: 14px 0px;
    border: 3px solid #FF0072;
    border-radius: 2px;
    position: relative;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
    z-index: 10; }
    .btn--flex__bttn:hover, .btn--flex__bttn:active {
      color: #FFF; }
    .btn--flex__bttn::before {
      transition: 0.5s all ease;
      position: absolute;
      top: 0;
      left: 50%;
      right: 50%;
      bottom: 0;
      opacity: 0;
      content: '';
      background-color: #FF0072;
      z-index: -2; }

.btn--flex__bttn:hover::before {
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1; }

.accordian {
  font-size: 16px;
  background: #dce7eb !important;
  color: rgba(48, 69, 92, 0.8);
  justify-content: flex-start !important;
  padding: 1rem; }
  .accordian--input {
    display: none; }
  .accordian--heading {
    color: #ff6873;
    margin: 1rem 0 2rem 0;
    cursor: pointer;
    display: flex;
    justify-content: space-between; }
  .accordian--content {
    opacity: 0;
    transition: all 0.5s ease-in-out; }
  .accordian .i--container {
    position: relative; }
  .accordian i {
    position: absolute;
    transform: translate(-6px, 0);
    margin-top: 5px;
    right: 0;
    transition: all 0.5s ease-in-out; }
    .accordian i::before, .accordian i::after {
      content: "";
      position: absolute;
      background-color: #ff6873;
      width: 3px;
      height: 9px; }
    .accordian i:before {
      transform: translate(-2px, 0) rotate(-45deg); }
    .accordian i::after {
      transform: translate(2px, 0) rotate(45deg); }

.accordian--input:checked ~ .accordian--content {
  opacity: 1; }

.accordian--input:checked ~ .accordian--heading i::before {
  transform: translate(-2px, 0) rotate(45deg); }

.accordian--input:checked ~ .accordian--heading i::after {
  transform: translate(2px, 0) rotate(-45deg); }

@keyframes circleRotation {
  0% {
    transform: rotate(180deg); }
  50% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(180deg); } }

@keyframes loadingBar {
  0% {
    width: 5%; }
  50% {
    width: 100%; }
  100% {
    width: 5%; } }

@keyframes ckw {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

@keyframes ccw {
  0% {
    transform: rotate(360deg); }
  100% {
    transform: rotate(0deg); } }

@keyframes spin {
  100% {
    transform: rotate(360deg); } }

@keyframes mouse {
  0% {
    opacity: 0; }
  25% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 0; } }

.circle--loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150px;
  height: 150px; }
  .circle--loader__container {
    border-style: solid;
    border-color: #df5a49;
    border-radius: 50%;
    border-top-color: transparent;
    border-bottom-color: transparent;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto; }
  .circle--loader__container1 {
    width: 150px;
    height: 150px;
    animation: circleRotation 5s linear infinite; }
  .circle--loader__container2 {
    width: 120px;
    height: 120px;
    animation: circleRotation 5s linear infinite; }
  .circle--loader__container3 {
    width: 90px;
    height: 90px;
    animation: circleRotation 5s linear infinite; }
  .circle--loader__container4 {
    width: 60px;
    height: 60px;
    animation: circleRotation 5s linear infinite; }

.bar--container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

.bar--loading {
  position: relative;
  background-color: blue;
  min-width: 13rem;
  min-height: 1rem;
  border-radius: 1rem; }
  .bar--loading::after {
    content: '';
    height: 100%;
    border-radius: 1rem;
    position: absolute;
    top: 0;
    width: 0%;
    background-color: orangered;
    animation: loadingBar 2s ease-out 0s infinite; }

.gear--container {
  height: 100%;
  background: #e6e6fa; }

.gear--top {
  animation-name: ckw;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
  display: inline-block;
  animation-timing-function: linear; }

.gear--bottom {
  animation-name: ccw;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
  display: inline-block;
  animation-timing-function: linear;
  top: 10rem;
  position: absolute;
  top: 7rem;
  left: 5rem; }

.barloader svg {
  position: absolute;
  left: 50%;
  transform: translate(-50%); }
  .barloader svg path, .barloader svg rect {
    fill: #FF6700; }

.sunny .sun {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2.5em;
  height: 2.5em;
  margin: -1.25em;
  background: yellow;
  border-radius: 50%;
  box-shadow: 0 0 0 0.375em yellow;
  animation: spin 12s infinite linear; }
  .sunny .sun--rays {
    position: absolute;
    top: -2em;
    left: 50%;
    display: block;
    width: 0.375em;
    height: 1.125em;
    margin-left: -0.1875em;
    background: yellow;
    border-radius: 0.25em;
    box-shadow: 0 5.375em yellow; }
    .sunny .sun--rays::before, .sunny .sun--rays::after {
      content: '';
      position: absolute;
      top: 0em;
      left: 0em;
      display: block;
      width: 0.375em;
      height: 1.125em;
      transform: rotate(60deg);
      transform-origin: 50% 3.25em;
      background: yellow;
      border-radius: 0.25em;
      box-shadow: 0 5.375em yellow; }
    .sunny .sun--rays::before {
      transform: rotate(120deg); }

.mouse--animated {
  border-radius: 3rem;
  width: 2.25rem;
  height: 5rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: #fff -2px -2px 0px 0px, #fff 2px -2px 0 0;
  padding-top: 41px; }
  .mouse--animated:before {
    content: '';
    position: absolute;
    background: #fff;
    border-radius: 1rem;
    width: 0.4rem;
    height: 1.2rem;
    left: 50%;
    transform: translate(-50%);
    top: 1rem; }

.mouse--line {
  background: #fff;
  width: calc(100% - 1rem);
  height: 3px;
  margin: 3px auto;
  animation-name: mouse;
  animation-duration: 3s;
  animation-iteration-count: infinite; }
  .mouse--line:nth-child(1n+1) {
    animation-delay: 0s; }
  .mouse--line:nth-child(1n+2) {
    animation-delay: 0.25s; }
  .mouse--line:nth-child(1n+3) {
    animation-delay: 0.5s; }

.mouse--arrow {
  animation-name: mouse;
  animation-delay: 0.75s;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  .mouse--arrow:after {
    content: '';
    border: 0.6rem solid #fff;
    transform: rotate(45deg);
    display: inline-block;
    border-left-color: transparent;
    border-top-color: transparent;
    height: 0;
    width: 0;
    top: -8px;
    position: relative; }

.mouse--shaft {
  width: calc(100% - 1rem);
  background: #fff;
  height: 3px;
  margin: 0 auto; }

.toggle {
  background-color: #fff;
  align-items: center; }
  .toggle--svg {
    cursor: pointer;
    transition: transform 400ms; }
  .toggle--line {
    fill: none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke: #000;
    stroke-width: 5.5;
    stroke-linecap: round; }
  .toggle--top {
    stroke-dasharray: 40 160; }
  .toggle--middle {
    stroke-dasharray: 40 142;
    transform-origin: 50%;
    transition: transform 400ms; }
  .toggle--bottom {
    stroke-dasharray: 40 85;
    transform-origin: 50%;
    transition: transform 400ms, stroke-dashoffset 400ms; }

.toggle--svg.active {
  transform: rotate(45deg); }
  .toggle--svg.active .toggle--top {
    stroke-dashoffset: -64px; }
  .toggle--svg.active .toggle--middle {
    transform: rotate(90deg); }
  .toggle--svg.active .toggle--bottom {
    stroke-dashoffset: -64px; }

.underline--link {
  text-align: center; }
  .underline--link a {
    position: relative;
    color: #fff;
    text-decoration: none; }
    .underline--link a::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: currentColor;
      visibility: hidden;
      transform: scaleX(0);
      transition: all 0.3s ease-in-out 0s; }
    .underline--link a:hover {
      color: #fff; }
      .underline--link a:hover::before {
        visibility: visible;
        transform: scaleX(1); }
