/* CSS reset */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

*:focus {
  outline: none; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

.main {
  max-width: 100rem;
  margin: 0 auto;
  background: linear-gradient(40deg, #8983F7, #A3DAFB 70%);
  color: #fff; }
  .main .header {
    text-align: center;
    padding: 5rem 0; }
  .main .animations {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    background-color: #000; }
    @media (min-width: 56.25em) {
      .main .animations {
        flex-direction: row; } }
    .main .animations--section {
      height: 250px;
      flex: 1 1 20rem;
      background: #000;
      display: flex;
      flex-direction: column;
      justify-content: center;
      border: 1px solid #fff;
      position: relative; }

@keyframes circleRotation {
  0% {
    transform: rotate(180deg); }
  50% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(180deg); } }

.circle--loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150px;
  height: 150px; }
  .circle--loader__container {
    border-style: solid;
    border-color: #fff;
    border-radius: 50%;
    border-top-color: transparent;
    border-bottom-color: transparent;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto; }
  .circle--loader__container1 {
    width: 150px;
    height: 150px;
    animation: circleRotation 5s linear infinite; }
  .circle--loader__container2 {
    width: 120px;
    height: 120px;
    animation: circleRotation 5s linear infinite; }
  .circle--loader__container3 {
    width: 90px;
    height: 90px;
    animation: circleRotation 5s linear infinite; }
  .circle--loader__container4 {
    width: 60px;
    height: 60px;
    animation: circleRotation 5s linear infinite; }

.underline--link {
  text-align: center; }
  .underline--link a {
    position: relative;
    color: #fff;
    text-decoration: none; }
    .underline--link a::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: currentColor;
      visibility: hidden;
      transform: scaleX(0);
      transition: all 0.3s ease-in-out 0s; }
    .underline--link a:hover {
      color: #fff; }
      .underline--link a:hover::before {
        visibility: visible;
        transform: scaleX(1); }
