// Animation 2
.circle{

	&--loader{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 150px;
		height: 150px;

		&__container{
			border-style: solid;
			border-color: #df5a49;
			border-radius: 50%;
			border-top-color: transparent;
			border-bottom-color: transparent;
			
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			margin: auto;
		}

		&__container1 {
			width: 150px;
			height: 150px;
			animation:  circleRotation 5s linear infinite; 
		}

		&__container2 {
			width: 120px;
			height: 120px;
			animation:  circleRotation 5s linear infinite; 
		}

		&__container3 {
			width: 90px;
			height: 90px;
			animation:  circleRotation 5s linear infinite; 
		}

		&__container4 {
			width: 60px;
			height: 60px;
			animation:  circleRotation 5s linear infinite; 
		}
	}
}


// Animation 3

.bar{

	&--container{
		height: 100vh;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&--loading{
		position: relative;
		background-color: blue;
		min-width: 13rem;
		min-height: 1rem;
		border-radius: 1rem;

		&::after {
		content: '';
		height: 100%;
		border-radius: 1rem;
		position: absolute;
		top:0;
		width:0%;
		background-color: orangered;
		animation: loadingBar 2s ease-out 0s infinite;
		
		}	
	}
}



// Animation 4
.gear{

	&--container{
		height: 100%;
		background: #e6e6fa;
	}

	&--top{
		animation-name: ckw;
		animation-duration: 5s;
		animation-iteration-count: infinite;
		transform-origin: 50% 50%;
		display: inline-block;
		animation-timing-function: linear;
	}

	&--bottom{
		animation-name: ccw;
		animation-duration: 5s;
		animation-iteration-count: infinite;
		transform-origin: 50% 50%;
		display: inline-block;
		animation-timing-function: linear;
		top: 10rem;
		position: absolute;
		top: 7rem;
		left: 5rem;
	}
}


// Animation 6 
.barloader{
	svg{
		position: absolute;
		left: 50%;
		transform: translate(-50%);

		path, rect{
			fill: #FF6700;

		}
	}
}

// Animation 7
.sunny{

	.sun{
		position: absolute;
		top: 50%;
		left: 50%;
		width: 2.5em;
		height: 2.5em;
		margin: -1.25em;
		background: yellow;
		border-radius: 50%;
		box-shadow: 0 0 0 0.375em yellow;
		animation: spin 12s infinite linear;

		&--rays{
			position: absolute;
			top: -2em;
			left: 50%;
			display: block;
			width: 0.375em;
			height: 1.125em;
			margin-left: -0.1875em;
			background: yellow;
			border-radius: 0.25em;
			box-shadow: 0 5.375em yellow;

			&::before, &::after{
				content: '';
				position: absolute;
				top: 0em;
				left: 0em;
				display: block;
				width: 0.375em;
				height: 1.125em;
				transform: rotate(60deg);
				transform-origin: 50% 3.25em;
				background: yellow;
				border-radius: 0.25em;
				box-shadow: 0 5.375em yellow;
			}

			&::before{
				transform: rotate(120deg);
			}
		}
	}
}


// Animation 10
.mouse{

	&--animated{
		border-radius: 3rem;
		width: 2.25rem;
		height: 5rem;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		box-shadow: $white -2px -2px 0px 0px, $white 2px -2px 0 0;
		padding-top: 41px;

		&:before {
			content: '';
			position: absolute;
			background: $white;
			border-radius: 1rem;
			width: 0.4rem;
			height: 1.2rem;
			left: 50%;
			transform: translate(-50%);
			top: 1rem;
		}
	}

	&--line{
		background: $white;
		width: calc(100% - 1rem);
		height: 3px;
		margin: 3px auto;
		animation-name: mouse;
		animation-duration: 3s;
		animation-iteration-count: infinite;

		&:nth-child(1n+1) {
			animation-delay: 0s;
		}
		&:nth-child(1n+2) {
			animation-delay: 0.25s;
		}
		&:nth-child(1n+3) {
			animation-delay: 0.5s;
		}
	}

	&--arrow{
		animation-name: mouse;
		animation-delay: 0.75s;
		animation-duration: 3s;
		animation-iteration-count: infinite;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;

		&:after {
			content: '';
			border: 0.6rem solid $white;
			transform: rotate(45deg);
			display: inline-block;
			border-left-color: transparent;
			border-top-color: transparent;
			height: 0;
			width: 0;
			top: -8px;
			position: relative;
		}
	}

	&--shaft{
		width: calc(100% - 1rem);
		background: $white;
		height: 3px;
		margin: 0 auto;
	}
}